*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    z-index: 1001 !important;
}

.gradientBg{
    background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%);
}

.btnPrimary{
    @apply py-3 px-8 font-semibold text-white bg-secondary hover:bg-primary transition-all duration-300
}